body {
    text-align: center;
    font-family: sans-serif;
}

ul {
    margin: auto;
    padding: 0;
    width: 90%;
    text-align: left;
}

@media only screen and (min-width: 500px) {
    ul {
        width: 450px;
    }
}

li {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #000;
    list-style: none;
    vertical-align: middle;
    background-color: #ffb;
}

li.completed {
    opacity: 0.5;
}

li.completed span {
    text-decoration: line-through; 
}

a.button {
    display: inline-block;
    padding: 2px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #888;
    color: #000;
}

a.button.blue {
    background-color: #4bf;
    color: #000;
}

a.button.green {
    background-color: #0a0;
    color: #fff;
}

a.button.yellow {
    background-color: #fd0;
    color: #000;
}

a.button.red {
    background-color: #d00;
    color: #fff;
}

.modal {
    position: fixed;
    top: 100px;
    width: 300px;
    border: 1px solid #000;
    background-color: #ffb;
    padding: 1em;
    
    /* Horizontally center */
    left: 50%;
    margin-left: -150px;
}